################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build/
.vs/
.vscode/
.zig-cache/
.cache/
zig-out/
zig-pkg/
target/
Cargo.lock
tags
*.sublime-workspace
