################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build/
.vs/
.vscode/
.zig-cache/
zig-out/
target/
Cargo.lock
tags
